.carousel {
    background-color: green;

    .carousel-item {
        background-color: greenyellow;
        border: 1px solid blue;
        box-sizing: border-box;

        .card {
            background-color: pink;
            border: 1px solid red;
            box-sizing: border-box;
        }
    }
}