body {
    pre {
        background: #303030;
        border: 2px solid black;
        color: #faf8f0;
        height: 400px;
        margin: 1.2rem;
        overflow-y: auto;
        padding: 1rem;

        code {
            font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
            line-height: 140%;
            
            white-space: pre;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap; 
    
            h1, h2, h3 ,h4 ,h5 ,h6 {
                color: orange;
                font-size: 1rem ! important;
                font-weight: 500;
            }

            p, a, li, img {
                color: yellow;
                font-size: 1rem ! important;
                font-weight: normal;
            }
        }
    }
}
